html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    margin: 0;
    margin-top: 40px;
}

.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.home-page {
    position: relative;
    min-height: 299px;
    padding-top: 24px;
    padding-left: 59px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffe27f;
}

.logo-header  {
    position: absolute;
    top: -30px;
    left: 58px;
    margin: 0;
    font-size: 48px;
}

.logo-header a {
    text-decoration: none;
    color: #000000;
}

.logo-header a:hover {
    color: #444444;
}

.logo-header a:active {
    color: #666666;
}


header .menu-useres {
    margin-bottom: 38px;
    padding: 0;
    padding-left: 40px;
}

.list-useres {
    display: inline-block;
    vertical-align: top;
}

.list-useres:first-child {
    margin-right: 418px;
}

.list-useres:nth-child(2) {
    margin-right: 234px;
}

.list-useres:nth-child(3) {
    margin-right: 61px;
}

.a-list-useres {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.a-list-useres::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.list-useres:first-child .a-list-useres::before {
    width: 16px;
    height: 16px;
    top: 10px;
    left: -30px;
    background-position: -50px -939px
}

.list-useres:nth-child(2) .a-list-useres::before {
    width: 13px;
    height: 12px;
    top: 12px;
    left: -20px;
    background-position: -1551px -450px;
}

.list-useres:nth-child(2) .a-list-useres:hover:before {
    background-position: -1515px -726px;
}

.list-useres:nth-child(2) .a-list-useres:active:before {
    background-position: -1289px -726px;
}

.list-useres:nth-child(3) .a-list-useres::before {
    width: 10px;
    height: 10px;
    top: 14px;
    left: -20px;
    background-position: -1064px -50px
}

.list-useres:nth-child(3) .a-list-useres:hover:before {
    background-position: -1174px -160px;
}

.list-useres:nth-child(3) .a-list-useres:active:before {
    background-position: -1174px -50px;
}

.list-useres:nth-child(4) .a-list-useres::before {
    width: 12px;
    height: 12px;
    top: 12px;
    left: -18px;
    background-position: -392px -50px;
}

.list-useres:nth-child(4) .a-list-useres:hover:before {
    background-position: -728px -50px;
}

.list-useres:nth-child(4) .a-list-useres:active:before {
    background-position: -504px -50px;
}

.menu-service {
    padding: 0;
    letter-spacing: 3.5px;
}

.list-service {
    display: inline-block;
    vertical-align: top;
}

.list-service:first-child {
    margin-right: 316px;
}

.list-service:nth-child(2) {
    margin-right: 28px;
}

.list-service:nth-child(3) {
    margin-right: 101px;
}

.list-service a {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.sub-menu-show:hover .block-sub-menu {
    display: table;
}

.block-sub-menu {
    display: none;
    position: absolute;
    left: 0px;
    width: 1160px;
    padding-top: 22px;
    padding-left: 60px;
    padding-bottom: 34px;
    background-color: #ffe393;
    z-index: 3;
}

.sub-menu {
    display: table-row-group;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;    
}

.sub-list-catalog {
    display: table-cell;    
}

.column-1 {
    display: table-column;
    width: 240px;
}

.column-2 {
    display: table-column;
    width: 200px;
}

.info-block {
    position: relative;
    top: -127px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold; 
    background-color: transparent;
}

.device-block {
    height: 521px;
}

.device-block img {
    float: left;
    margin-left: 90px;
    margin-right: 123px;
}

.text-slider {
    float: left;
    width: 548px;
    padding-top: 38px;
}

.h-info {
    position: relative;
    z-index: 2;
    font-size: 47px;
    margin-bottom: 17px;
}

.h-info::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 3px;
    display: block;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.device-one .h-info::after {
    content: "01";
    position: absolute;
    top: -112px;
    left: 333px;
    display: block;
    font-size: 179px;
    color: #ffffff;
}

.p-info {
    width: 475px;
    margin-bottom: 53px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.btn-info {
    display: inline-block;
    margin-bottom: 52px;
    padding-left: 45px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #000000;
}

.device-info {
    padding: 0;
    padding-left: 4px;
}

.list-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 74px;
}

.list-info:last-child {
    margin-right: 0;
}

.data,
.text-info {
    display: block;
}

.data {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 32px;
    font-weight: 300;
}

.text-info {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.device-two img {
    margin-top: 12px;
    margin-left: 116px;
    margin-right: 136px;
}

.slider-two .h-info {
    width: 200px;
}

.slider-two .h-info::after {
    content: "02";
    position: absolute;
    top: -112px;
    left: 309px;
    display: block;
    font-size: 179px;
    color: #ffffff;
}

.device-three img {
    margin-top: 65px;
    margin-left: 32px;
    margin-right: 39px;
}

.slider-three .p-info::after {
    content: "03";
    position: absolute;
    top: -149px;
    left: 306px;
    z-index: 1;
    display: block;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 179px;
    color: #ffffff;
}

.slider-three .p-info {
    position: relative;
    width: 443px;
}

.slider-three .list-info:first-child {
    margin-right: 44px;
}

.slider-controls {
    position: absolute;
    bottom: 183px;
    right: 12px;
    z-index: 1000;
    width: 200px;
    height: 10px;
    text-align: center;
}

.info-block input {
    display: none;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    background: #ffffff;
    border: 3px solid rgba(0,0,0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border: 3px solid #000000;
}

.slider-controls label:last-child {
    margin-right: 0;
}

.device-block {
    display: none;
}

#btn-1:checked ~ .device-block:nth-of-type(1) {
    display: block;
}

#btn-2:checked ~ .device-block:nth-of-type(2) {
    display: block;
}

#btn-3:checked ~ .device-block:nth-of-type(3) {
    display: block;
}

.popular-block {
    padding-top: 121px;
    margin-bottom: 68px;
}

.a-popular {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 124px;
    margin-right: 72px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}

.a-popular:last-child {
    margin-right: 0;
}

.a-popular::before {
    content: "";
    position: absolute;
    top: -195px;
    display: block;
    width: 160px;
    height: 160px;
    background-color: #ffe27f
}

.a-popular::after {
    content: "";
    display: block;
    position: absolute;
    width: 97px;
    height: 55px;
    top: -145px;
    left: 30px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -410px -1150px;
}

.a-popular:hover:before {
    background-color: #ffc600;
}

.vr-tuning:active:after {
    background-position: -607px -1150px;
}

.a-popular:active:before {
    background-color: #ffc600;
}

.a-popular:nth-child(2):after {
    width: 86px;
    height: 117px;
    top: -170px;
    left: 40px;
    background-position: -801px -707px;
}

.mp-tuning:active:after {
    background-position: -987px -707px;
}

.a-popular:nth-child(3):after {
    width: 71px;
    height: 87px;
    top: -160px;
    left: 50px;
    background-position: -50px -50px;
}

.camera-tuning:active:after {
    background-position: -221px -50px;
}

.a-popular:nth-child(4):after {
    width: 107px;
    height: 65px;
    top: -145px;
    left: 25px;
    background-position: -50px -573px;
}

.fb-tuning:active:after {
background-position: -990px -408px;
}

.a-popular:nth-child(5):after {
    width: 56px;
    height: 98px;
    top: -165px;
    left: 50px;
    background-position: -630px -924px;
}

.sw-tuning:active:after {
    background-position: -786px -924px;
}

.a-popular:nth-child(6):after {
    width: 132px;
    height: 69px;
    top: -150px;
    left: 15px;
    background-position: -398px -924px;
}

.quad-tuning:active:after {
    background-position: -166px -924px;
}

.services-block {
    min-height: 388px;
    margin-bottom: 95px;
    background-image: linear-gradient(#ffffff 100px, #e6e6e6 100px);
}

.services-left input {
    display: none;
}

.services-left {
    display: inline-block;
    vertical-align: top;
    width: 283px;
    min-height: 319px;
    padding-top: 90px;
    border-right: 7px solid #000000;
    letter-spacing: 4px;
}

.services-left label {
    display: block;
    width: 276px;
    margin-bottom: 44px;
    padding-left: 23px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.active-label-services {
    color: #ffe27f;
    background-color: #000000;
}

.services-right {
    display: none;
    vertical-align: top;
    width: 870px;
    padding-top: 26px;
    padding-left: 113px;
}

.active-services-right {
    display: inline-block;
}

.h-services {
    margin-bottom: 30px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 47px;
    line-height: 49px;
}

.p-services {
    width: 429px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.services-right:nth-of-type(3) .p-services {
     width: 416px;
}

.logotypes-block .a-logotypes-block {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    height: 100px;
    margin-right: 36px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.logotypes-block .a-logotypes-block:last-child {
    margin-right: 0;
}

.logo-djl {
    background-position: -270px -270px;
}

.logo-djl:hover {
    background-position: -630px -270px;
}

.logo-sp-gadgets {
    background-position: -1284px -50px;
}

.logo-sp-gadgets:hover {
    background-position: -1301px -250px;
}

.logo-go-pro {
    background-position: -257px -470px;
}

.logo-go-pro:hover {
    background-position: -617px -470px;
}

.logo-vive {
    background-position: -1293px -950px;
}

.logo-vive:hover {
    background-position: -50px -1150px;
}

.contact-block {
    padding-top: 94px;
    margin-bottom: 92px;
}

.column-left {
    float: left;
    width: 50%;
}

.column-right {
    float: left;
    width: 50%;
    padding-left: 18px;
}

.h-contact {
    margin-bottom: 42px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 49px;
    font-weight: bold; 
}

.p-contact {
    width: 475px;
    margin-bottom: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.column-right .p-contact {
    width: 516px;
    margin-bottom: 39px;
}

.delivery {
    margin-top: 66px;
    margin-bottom: 64px;
    padding-left: 25px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold; 
}

.list-delivery {
    list-style-type: none;
}

.list-delivery::before {
    content: "";
    position: relative;
    left: -25px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.btn-contact {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Gilroy", "Arial", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #000000;
}

.column-right img {
    width: 560px;
    height: 222px;
    margin-bottom: 75px;
    overflow: hidden;
}

.wrapper-footer {
    background: #444444;
}

footer {
    position: relative;
    width: 1200px;
    min-height: 323px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;   
}

.footer-adress {
    float: left;
    width: 308px;
}

.footer-serves {
    float: left;
    width: 504px;
    padding-top: 106px;
    padding-left: 17px;
}

.footer-useres {
    float: left;
    width: 352px;
    padding-top: 31px;
}

.footer-logo {
    margin-bottom: 17px;
    font-size: 48px;
    color: #ffe27f;
}

.footer-logo::after {
    position: absolute;
    bottom: 79px;
    left: 20px;
    display: block;
    content: "";
    width: 80px;
    height: 7px;
    background-color: #ffe27f;
}

.address {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    text-transform: none;
    color: #ffffff;
}

.serves {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.list-footer-serves {
    display: inline-block;
    vertical-align: top;
    margin-right: 31px;
}

.list-footer-serves:last-child {
    margin-right: 0;
}

.serves a {
    text-decoration: none;
    letter-spacing: 4px;
    color: #ffffff;
}

.list-footer-serves a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.list-footer-serves a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}

.list-social {
    display: inline-block;
    vertical-align: top;  
}

.list-social a {
    display: block;
    width: 39px;
    height: 38px;
    text-decoration: none;
    color: #ffffff;
    font-size: 0;    
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.social-fb {
    background-position: -990px -270px;
}

.social-fb:hover {
    background-position: -50px -408px;
}

.social-fb:active {
    background-position: -1129px -270px;
}

.social-inst {
    background-position: -384px -707px;
}

.social-inst:hover {
    background-position: -662px -707px;
}

.social-inst:active {
    background-position: -523px -707px;
}

.social-tw {
    background-position: -1413px -450px;
}

.social-tw:hover {
    background-position: -1427px -588px;
}

.social-tw:active {
    background-position: -1289px -588px;
}

.menu-useres {
    margin-bottom: 31px;
    padding-left: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    list-style: none;
    color: #ffffff;
}

.list-footer-useres {
    display: inline-block;
    vertical-align: top;
    padding-left: 36px;
    margin-right: 24px;
}

.list-footer-useres:last-child {
    margin-right: 0;
}

.list-footer-useres a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.list-footer-useres a::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.list-footer-useres:nth-child(1) a::before {
    width: 13px;
    height: 12px;
    top: 12px;
    left: -25px;
    background-position: -1406px -838px;
}

.list-footer-useres:nth-child(1) a:hover:before {
    background-position: -1293px -838px;
}

.list-footer-useres:nth-child(1) a:active:before {
    background-position: -1402px -726px;
}

.list-footer-useres:nth-child(2) a::before {
    width: 10px;
    height: 10px;
    top: 14px;
    left: -20px;
    background-position: -160px -270px;
}

.list-footer-useres:nth-child(2) a:hover:before {
    background-position: -50px -270px;
}

.list-footer-useres:nth-child(2) a:active:before {
    background-position: -1064px -160px;
}

.list-footer-useres:nth-child(3) a::before {
    width: 12px;
    height: 12px;
    top: 12px;
    left: -20px;
    background-position: -952px -50px;
}

.list-footer-useres:nth-child(3) a:hover:before {
    background-position: -840px -50px;
}

.list-footer-useres:nth-child(3) a:active:before {
    background-position: -616px -50px;
}

.tel {
    display: block;
    padding-right: 8px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    text-align: right;
    color: #ffffff;
}

.a-logo {
    position: absolute;
    bottom: 68px;
    right: 18px;
    display: block;
    width: 27px;
    height: 34px;
    font-size: 0;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -977px -573px; 
}

.a-logo:hover {
    background-position: -257px -707px;
}

.a-logo:active {
    background-position: -1104px -573px;
}

/* device-catalog!!!!!!!!!!!! */

/* header */

.catalog-page {
    position: relative;
    min-height: 186px;
    padding-top: 24px;
    padding-left: 59px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffe27f;
}

.main-catalog h2 {
    font-size: 47px;
    line-height: 49px;
}

.breadcrumbs a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3)
}

.main-catalog .filter-result {
    display: flex;
}

/* filter-block */

.filter-result .filter-block {
    width: 348px;
    padding-left: 81px;
    background-color: #efefef;
}

.filter-block span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 348px;
    height: 70px;
    left: -81px;
    margin-bottom: 69px;
    padding-top: 30px;
    padding-left: 81px; 
    font-family: "Gilroy", "Arial", sans-serif;;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.08);
}

.filter-price {
    border:none;
}

.filter-price .range-control {
    position: relative;
    margin-bottom: 20px;
}

.range-control .scale {
    width: 200px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.range-control .bar {
    width: 60%;
    height: 2px;
    background-color: #72ca00;
}

.range-control .toggle {
    position: absolute;
    top: -5px;
    width: 13px;
    height: 13px;
    background-color: #efefef;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.range-control .toggle-max {
    left: 120px;
}

.prce-control {
    font-size: 0;
}

.price-control label {
    display: inline-block;
    width: 40%;
    font-family: "Gilroy", "Arial", sans-serif;
    line-height: 22px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.2);
}

.price-control input {
    width: 60px;
    border: none;
    font-family: "Gilroy", "Arial", sans-serif;
    line-height: 22px;
    font-size: 14px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.2);
}

/* result-block */

.result-block {
    flex-basis: 854px;
}

/* result-block > sorting */

.result-block .sorting {
    display: flex;
    background-color: rgba(0, 0, 0, 0.08);
    align-items: center;
    margin-bottom: 69px;
}

.sorting span {
    height: 70px;
    margin-right: 53px;
    padding-top: 30px;
    padding-left: 74px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
}

.sorting-category li,
.sorting-up-down li {
    display: inline-block;
    vertical-align: top;
}

.sorting-category li {
    margin-right: 31px;
}

.sorting-category li:last-child {
    margin-right: 0;
}

.sorting-category a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3)    
}

.sorting-category .active-category {
    color: #000000;
}

.sorting .sorting-up-down {
    margin-left: auto;
    font-size: 0;
}

.sorting-up-down .sorting-up,
.sorting-up-down .sorting-down {
    display: block;
    width: 17px;
    height: 17px;
}

.sorting-up-down .sorting-up {
    margin-right: 26px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -942px -1045px;
}

.sorting-up-down .sorting-up:hover {
    background-position: -1176px -1045px;
}

.sorting-up-down .sorting-up:active {
    background-position: -1059px -1045px;
}

.sorting-up-down .sorting-down {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -942px -935px;
}

.sorting-up-down .sorting-down:hover {
    background-position: -1176px -935px;
}

.sorting-up-down .sorting-down:active {
    background-position: -1059px -935px;
}

/* result-block > result */

.result-block .result {
    display: flex;
    flex-wrap: wrap;

}

.result article {
    margin-bottom: 45px;
}

.result article:nth-child(2n-1) {
    margin-left: auto;
    margin-right: 40px;
}

.catalog-card ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;    
}

.catalog-card li {
    font-family: "Gilroy", "Arial", sans-serif;;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
}

.catalog-card li:first-child {
    width: 260px;
}

.catalog-card li:last-child {
    font-size: 16px;
    font-weight: lighter;
    color: #444444;
}

/* filter-result > result-navigaton */

.filter-result .result-navigation {
    display: flex;
    justify-content: space-between;
    width: 760px;
    height: 70px;
    margin-bottom: 73px;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;    
    background-color: rgba(0, 0, 0, 0.08);
} 

.result-navigation a {
    font-family: "Gilroy", "Arial", sans-serif;;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.result-navigation li {
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;
}

.result-navgation ul>li:last-child {
    margin-right: 0;
}

